{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='chat.css') }}">
</head>
<body>
    <div class="chat-container">
        <div class="profile">
            <h2><p>{{ user.first_name }} {{ user.last_name }} {{ user.id }}</p></h2>
            <img src="{{ url_for('views.user_image', user_id=user.id) }}" alt="{{ user.first_name }} {{ user.last_name }} Profile" class="profile-img">
        </div>
        <div class="users-list">
            <h3>Contacts</h3>
            <ul>
                {% for user_id, image_filename in user_images.items() %}
                    {% if user_id != user.id %}
                        <li onclick="openChat('{{ user_id }}', {{ user_id }})">
                            <img src="{{ url_for('views.user_image', user_id=user_id) }}" alt="User Image" class="user-img">
                            User ID: {{ user_id }}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="chat-window">
            <div class="messages" id="messages">
                <h3>Select a user to start chatting</h3>
            </div>
            <div class="input-area">
                <input type="text" id="messageInput" placeholder="Type a message">
                <button onclick="sendMessage()">Send</button>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='chat.js') }}"></script>
</body>
</html>
{% endblock %}
