{% extends "base.html" %}

{% block title %}Friends{% endblock %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Friends</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='friends.css') }}">
</head>
<body>
        <h1>Manage Friends</h1>
        <form action="{{ url_for('auth.add_friend_by_email') }}" method="post">
            <label for="friend_email">Add Friend by Email:</label>
            <input type="email" id="friend_email" name="friend_email" required>
            <button type="submit">Add Friend</button>
        </form>
        <form action="{{ url_for('auth.remove_friend_by_email') }}" method="post">
            <label for="remove_friend_email">Remove Friend by Email:</label>
            <input type="email" id="remove_friend_email" name="remove_friend_email" required>
            <button type="submit">Remove Friend</button>
        </form>
        <h2>Friend Requests</h2>
    <ul id="friend-requests">
        {% for request in user.friend_requests_received %}
            <li>
                <img src="{{ url_for('views.user_image', user_id=request.sender.id) }}" alt="{{ request.sender.first_name }} {{ request.sender.last_name }} Profile" class="user-img">
                {{ request.sender.first_name }} {{ request.sender.last_name }}
                <form action="{{ url_for('auth.accept_friend', user_id=request.sender.id) }}" method="post">
                    <button type="submit">Accept</button>
                </form>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
{% endblock %}

