{% extends "base.html" %}

{% block title %}Signup{% endblock %}

{% block content %}
<div class="img"></div>
<div class="content">
    <div class="head sign"><h2>Sign Up</h2></div>
    <form method="POST" enctype="multipart/form-data">
        <div class="field">
            <input type="email" class="form-control" id="email" name="email" placeholder="Email Address" required>
        </div>

        <div class="field">
            <input type="text" class="form-control" id="firstname" name="firstname" placeholder="First Name" required>
        </div>

        <div class="field">
            <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Last Name" required>
        </div>

        <div class="field space">
            <input type="password" class="pass-key" id="password1" name="password1" placeholder="Password" required>
        </div>

        <div class="field space">
            <input type="password" class="pass-key" id="password2" name="password2" placeholder="Password (Confirm)" required>
        </div>

        <div class="field">
            <label for="profile_image">Profile Image</label>
            <input type="file" id="profile_image" name="profile_image" accept="image/*" required>
        </div>

        <div class="field1">
            <button type="submit" class="btn btn-primary">Submit </button>
        </div>
    </form>
</div>
{% endblock %}
